<table>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
    </tr>
    {{#products}}
    <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td>{{quantity}}</td>
    </tr>
    {{/products}}
</table>
